{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Image title :<br>
		{{ image.title }}</h1>
	<p>Image description :<br>
		{{ image.description }}</p>
	<p>Image ID + URL :<br>
		{{ image.id }}
		.
		{{ image.url }}</p>
	<a href="/images/edit?id={{ image.id }}">Edit</a>
	<form action="/images/delete" method="POST">
		<input type="hidden" name="id" value="{{ image.id }}">
		<button>Delete</button>
	</form>
	<a href="/images">Back</a>
{% endblock %}
